.headerTitle{
    color: #fff;
    font-size: 5rem;
}
.header{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-position: center;
}

@media  (max-width: 820px){
    .headerTitle{

        font-size: 4rem;
    }

}

@media  (max-width: 648px){
    .headerTitle{
        text-align: center;
        font-size: 3rem;
    }
}