.title{
    margin: .7rem 0 0 0;
    font-weight: bold;
    font-size: 1.4rem;
}
.price{
    font-weight:bolder;
}
.card{
width: 23rem;
color: black;
box-shadow: 2px 2px 15px 4px rgb(0 0 0 / 7%);
-webkit-box-shadow: 2px 2px 15px 4px rgb(0 0 0 / 7%);
    -moz-box-shadow: 2px 2px 15px 4px rgb(0 0 0 / 7%);
    padding: 1rem;
    border-radius: 10%;
}


