header{
    -webkit-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
    box-shadow:  0 10px 15px -3px rgb(0 0 0 / 10%);
    -moz-box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%);
    
}
.navBar{
    height: 70px;
    text-align: center;
    justify-content: space-between;
  align-items: center;
    display: flex;
    width: 90%;
    margin: 0 auto;

}
.navBar svg{
    cursor: pointer;
}

.navBar ul{
    margin: 0;
}
.nav-options {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 50px;
    list-style-type: none;
    align-items: center;
  }

.navBar img {
    height: 60px;
cursor: pointer;
    
}

.logo{
    height: 70px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.navBar a{
        color: rgb(0, 0, 0);  
        font-family: Roboto, Arial, 'Helvetica Neue', 'Segoe UI', 
        'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
       }

      .mobile-menu {
        display: none;
      }

      @media (max-width: 648px) {
        /*Mobile View */
        .nav-options {
          display: flex;
          width: 100%;
          position: absolute;
          padding-bottom: 1rem;
          top: 80px;
          left: -100%;
          opacity: 0;
          transition: all 0.5s ease;
          flex-direction: column;
          list-style-type: none;
          grid-gap: 0px;
        }
        .nav-options.active {
          background: #fff;
          left: 0;
          opacity: 1;
          transition: all 0.5s ease;
          z-index: 1;
          padding-left: 0px;
          top: 70px;
        }
      
        .menu-icon {
          font-size: 1.4rem;
        }
        .option {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 10vw;
          padding: 30px 0px;
        }
        .mobile-menu {
          display: block;
        }
      }